.electoral-bubbles {
  position: relative;
  
  // .key-above {
  //   text-align: center;
  //   .knockout();
  //   color: @gray-darker;
  //   text-transform: uppercase;
  //   font-size: 16px;
  // }

  .aspect-ratio {
    position: relative;

    svg.bubble-svg {
      display: block;
      width: 100%;

      circle {
        stroke-width: 1px;
        cursor: pointer;

        &.Dem {
          fill: @demDim;

          &.called {
            fill: @dem;
          }
        }

        &.GOP {
          fill: @gopDim;

          &.called {
            fill: @gop;
          }
        }

        &.pending {
          stroke-dasharray: 7 4;
          stroke: gray;
        }

        &:hover {
          stroke: black;
          stroke-width: 2px;
        }
      }

      text {
        text-anchor: middle;
        fill: white;
        .knockout();
        pointer-events: none;
        line-height: 1;
        text-transform: uppercase;

        &.pending {
          fill: @gray;
        }

        &.tied {
          fill: #9a9a9a;
          .gotham();
          text-transform: none;
          font-style: italic;
          line-spacing: 0.05em;
        }

        &.leading-cue {
          font-size: 18px;
          fill: lighten(@gop, 10%);
          text-anchor: start;

          &.dem {
            text-anchor: end;
            fill: lighten(@dem, 10%);
          }
        }
      }
    }

    .separator {
      stroke-dasharray: 5 10;
      stroke: fade(@gray, 50%);
    }
  }

  .uncalled {
    text-align: center;
    text-transform: uppercase;

    @media @mobile {
      display: none;
    }

    h3 {
      .knockout();
      margin-bottom: 0;
    }

    h4 {
      .knockout();
      color: @gray;
      font-size: 16px;
    }

    .triplets {
      display: flex;
      justify-content: space-around;

      @media @mobile {
        display: block;
      }

      .circles {
        // max-width: 400px;
        margin: 0 20px;
      }
    }

    svg {
      margin: 4px;
      vertical-align: middle;
    }

    circle {
      cursor: pointer;
      fill: #eee;

      &.early {
        fill: #ddd;
        stroke: gray;
        stroke-dasharray: 7 3;
      }
      &:hover {
          stroke: black;
          stroke-width: 2px;
        }
    }

    text {
      text-anchor: middle;
    }
  }

  .tooltip {
    position: absolute;
    border: 1px solid #eee;
    background-color: white;
    padding: 8px 8px 5px 8px;
    display: none;
    pointer-events: none;

    &.show {
      display: block;
    }

    h3 {
      font-size: 11px;
      margin: 0 0 3px 0;
      font-family: "Knockout 31 4r","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: .05em;
      -webkit-font-smoothing: antialiased;
      color: #333;

      span {
        color: #666;
      }
    }

    .candidates {
      .gotham();
      min-width: 120px;
      font-size: 10px;
      color: #666;

      .row {
        border-top: 1px solid #eee;
        padding: 3px 0 3px 0;
      }

      .name, .perc {
        font-weight: normal;
        display: inline-block;
      }
      .perc {
        text-align: right;
        float: right;
      }
      .party {
        height: 6px;
        width: 6px;
        margin-right: 4px;
        margin-top: 5px;
        background: @ind;
        float: left;

        &.Dem {
          background: @dem;
        }
        &.GOP {
          background: @gop;
        }
        &.Other {
          display: none;
        }
      }
    }

    .reporting {
      .gotham();
      margin: 0;
      padding-top: 3px;
      font-size: 10px;
      color: #9a9a9a;
      font-style: italic;
      border-top: 1px solid #eee;
    }

    .winner-icon {
      color: #666;
      margin-left: 2px;
      font-size: 8px;
    }
  }
}