@import "values";

@border: 1px solid #eee;
@background: #efefef;

.board-container {
	display: flex;
}
.board-wrapper {
	flex: 1;
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}

	&.Gov, &.Ballot {
		columns: 2;
	}
}
.board-hed {
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	color: #444;
	display: block;

	&.none {
		display: none;
	}
}

table.results {
	// flex: 1;
	width: 100%;
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 11px;
	border-collapse: collapse;

	th {
		font-size: 11px;
		font-family: 'Knockout 31 4r','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 0.05em;
	  -webkit-font-smoothing: antialiased;
	  padding: 4px 8px;
	  border-bottom: 1px solid #ddd;

	  &.state-hed, &.reporting-hed, &.name-hed {
	  	text-align: left;
	  }
	  &.electoral-hed {
	  	text-align: right;
	  }
	}

	.open-label {
		display: none;
		// background: white;
		// text-align: center;
		font-style: italic;
		font-size: 9px;
		color: #9a9a9a;
		// padding-left: 0;
	}

	tr.open {
		.candidate, .reporting {
			display: none;
		}

		.open-label {
			display: table-cell;
		}
	}

	td {
		padding: 4px 8px;
		border: @border;
		border-right: 0;
		border-left: 0;
	}

	td.state a {
		text-decoration: none;
		color: #444;
	}

	td.state {
		// font-weight: bold;
		text-decoration: none;
		border-left: 0;
		border-right: 1px solid #eee;
		color: #444;

		&:hover {
			text-decoration: underline;
		}

		&.winner a {
			// font-weight: bold;
			// color: @ind;
		}
		&.winner.Dem a {
			// color: @dem;
		}
		&.winner.GOP a, &.winner.No a {
			// color: @gop;
		}
	}
	td.reporting {
		font-size: 9px;
		font-style: italic;
		color: #9a9a9a;
	}
  td.candidate {
  	background: @background;
  	border: @border;
  	// color: @ind;

  	.perc {
  		float: right;
  		margin-left: 8px;
  	}
  	.perc, .name {
			display: inline-block;
			min-width: 25px;
		}
  	&.leading {
  		color: #666;
	  	background: @indDim;
	  	// border-right: 0;
	  	// border-left: 0;
	  }
	  &.winner {
	  	color: white;
	  	background: @ind;
	  }
	  &.GOP, &.No {
	  	// color: @gop;
	  	&.leading {
	  		color: #666;
	  		background: @gopDim;
	  	}
	  	&.winner {
	  		color: white;
	  		background: @gop;
	  	}
	  }
	  &.Dem {
	  	// color: @dem;
	  	&.leading {
	  		color: #666;
	  		background: @demDim;
	  	}
	  	&.winner {
	  		color: white;
	  		background: @dem;
	  	}
	  }
	  &.runoff {
  		background: @background !important;
  	}
  }
  td.runoff-label {
  	font-size: 8px;
  	text-transform: uppercase;
  	font-weight: bold;
  	// border: 0;

  	.flip-label {
      color: @ind;
  	}
  	&.Dem .flip-label{
  		color: @dem;
  	}
  	&.GOP .flip-label, &.No.flip-label {
  		color: @gop;
  	}
  }
}

table.results.president {
	td {
		text-align: left;
	}
	td.state {
		// font-weight: bold;
		border-right: 0;
	}
	 td.electoral {
    border-right: 1px solid #eee;
    text-align: right;
		color: #9a9a9a;

  	&.winner {
  		color: @ind;
  	}
  	&.winner.Dem {
			color: @dem;
		}
		&.winner.GOP {
			color: @gop;
		}
  }
	td.candidate {
		text-align: center;
		color: #666;
		// background: none;
		// border-right: 0;

		.perc {
			float: none;
			margin-left: 0;
		}
	}
}