table.results {
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 11px;
	border-collapse: collapse;

	.open-label {
		display: none;
		background: #eee;
		text-align: center;
		font-style: italic;
	}

	tr.open {
		.candidate {
			display: none;
		}

		.open-label {
			display: table-cell;
		}
	}

	td {
		padding: 4px 6px;
		border: 1px solid #eee;
		border-right: 0;
		border-left: 0;
	}
	td.state {
		border-left: 0;
	}
	td.reporting {
		border-left: 0;
		font-size: 9px;
		font-style: italic;
		color: #9a9a9a;
	}
  td.leading {
  	background: #D7F0E2;
  }
  td.winner {
  	color: white;
  	background: #15B16E;
  }
  td.GOP.leading {
  	background: #fad5d4;
  }
  td.Dem.leading {
  	background: #d8eaf9;
  }
  td.GOP.winner {
  	background: #D61F21;
  }
  td.Dem.winner {
  	background: #237BBD;
  }
  td.candidate {
  	.perc {
  		float: right;
  		margin-left: 6px;
  	}

  	&.runoff {
  		background: white;
  	}
  }
  td.runoff-label {
  	font-size: 8px;
  	text-transform: uppercase;
  	border: 0;
  }
}