a.county-results {
    background: none;
    border: none;
    color: #5076b8;
    display: inline-block;
    font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
    margin: 0 0 0 6px;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
}
.key-race-group h2 {
    color: #333;
    font-family: "Gotham SSm","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 6px 0;
    -webkit-font-smoothing: antialiased;
    margin-top: 33px;
}