@import "../../../css/values";

circle {
  fill-opacity: 0.3;
  stroke-opacity: 0.6;

  &.GOP {
    fill: var(--gop);
    stroke: var(--gop);
  }

  &.Dem {
    fill: var(--dem);
    stroke: var(--dem);
  }
}

.graphic {
  h4 {
    font-weight: normal;
    color: #777;
    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
  }

  .graphic-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }

  text.axis-label {
    fill: #787878;
    font-size: 12px;
  }
}

.tooltip {
  position: absolute;
  border: 1px solid #bbb;
  background-color: #eee;
  padding: 6px 8px;
  display: none;
  pointer-events: none;

  &.shown {
    display: block;
  }

  .name {
    .gotham();
    font-weight: bold;
  }

  .pop,
  .reporting,
  .result {
    font-size: 0.9rem;
    .knockout();
    color: #787878;

    &:empty {
      display: none;
    }
  }
}

.chart-wrapper {
  width: 33%;
  display: inline-block;

  @media @tablet {
    width: 50%;
  }
  @media @mobile {
    width: 100%;
  }

  svg {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }
}
