@import "../../../css/values";

table.results-table {
  border-collapse: collapse;
  color: #666;
  font-size: 12px;
  table-layout: fixed;
  width: 100%;

  caption {
    text-align: left;
    font-size: 110%;
    font-family: @gotham;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #454545;
    padding: 0 10px 7px 10px;
  }

  col.seat-status {
    width: 28px;
  }
  col.candidate {
    width: 40%;
  }

  tr {
    vertical-align: top;
  }

  th {
    border-color: #ccc;
    font-family: @knockout;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1.2;
    padding: 0 10px 10px 10px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
  }
  thead th,
  tbody th {
    border-bottom: 2px solid #eee;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  th,
  td {
    &.amt {
      text-align: right;
    }
    &.uncontested {
      font-style: italic;
    }
    &.vote {
      text-align: center;
    }

    &.margin {
      &.Dem {
        color: var(--dem);
      }
      &.GOP {
        color: var(--gop);
      }
      &.Other {
        color: @gray;
      }
    }
    &.precincts {
          border-left: none;
          border-right: 1px solid #ccc;
          color: @gray-light;
          font-size: 10px;
          font-style: italic;
          text-align: right;
          white-space: nowrap;
          width: 10%;
        }
  }

  tfoot td {
    color: #999;
    border-bottom: none;
  }

  .hidden {
    display: none;
  }

  .incumbent .lname {
    font-size: 95%;
    text-transform: uppercase;

    &:after {
      content: "*";
    }
  }

  .winner {
    color: #fff;
    background-color: @gray;

    &.Dem {
      background-color: var(--dem);
    }
    &.GOP {
      background-color: var(--gop);
    }

    .icon {
      color: #fff;

      &:before {
        display: inline;
        padding-left: 3px;
      }
    }
  }

  span.pickup {
    vertical-align: middle;

    &:after {
      font-weight: 500;
      content: "+1";
      font-style: italic;
      padding-left: 3px;
    }
  }
}

tbody.collapsed :nth-child(n + 11) {
  .sr-only();
}
.toggle-table.hidden {
  display: none;
}

.results-counties button {
  background-color: #fff;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #4774cc;
  display: block;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 10px;
  text-transform: uppercase;
}
