@import "values";

.map {
	max-width: 950px;
	margin: auto;

	g {
		fill: #ddd;
		stroke: white;

		&.leader {
			fill: @indDim;
		}
		&.leader.GOP {
			fill: @gopDim;
		}
		&.leader.Dem {
			fill: @demDim;
		}

		&.winner {
			fill: @ind;

			text {
				fill: white;
			}
		}
		&.winner.GOP {
			fill: @gop;
		}
		&.winner.Dem {
			fill: @dem;
		}
	}

	text {
		font-family: 'Knockout 31 4r';
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    fill: #666;
    fill-opacity: 0.9;
    text-anchor: middle;
    stroke: none;
    cursor: default;
	}

  .hi text, .northeast text {
  	fill: #666 !important;
  }

	.hover {
		stroke: black;
		stroke-width: 2px;
	}
}