.tabs[role="tablist"] {
  display: flex;

  [role="tab"] {
    background: white;
    cursor: pointer;
    border: none;
    padding: 8px;
    text-transform: uppercase;
    .gotham();
    border-bottom: 2px solid transparent;
    display: block;
    text-align: center;
    flex: 1;

    &:hover {
      border-bottom-color: fade(@true, 20%);
    }

    &:focus {
      background: #E8E8E8;
      outline: none;
    }

    &[aria-selected="true"] {
      border-bottom-color: @true;
    }

    img.icon {
      display: inline;
      max-width: 30px;
      max-height: 1.5em;
      margin-right: 4px;
      vertical-align: middle;

      @media @mobile {
        display: block;
        margin: 0 auto 4px;
      }
    }
  }
}

[role="tabpanel"] {
  padding: 20px 0 0;

  &:focus {
    outline: none;
    border: none;
  }

  &.inactive {
    width: 100%;
    max-width: 1200px;
    visibility: visible;
    position: absolute;
    left: -100000px;
  }
}