<div class="board-key" id="board-key">
    <h3>Key</h3>
    <ul>
        <li class="dem"><i></i>&nbsp;Democrat / <span class="winner">Winner</span></li>
        <li class="gop"><i></i>&nbsp;Republican / <span class="winner">Winner</span></li>
        <li class="ind"><i></i>&nbsp;Independent / <span class="winner">Winner</span></li>
        <li class="incumbent">NAME*&nbsp;Incumbent</li>
        <li class="held"><i>VA</i>&nbsp;Seat won (party color)</li>
        <li class="pickup"><i>+1</i>&nbsp;Seat pickup (party color)</li>
        <li class="runoff"><i><img class="img-responsive" src="../assets/runoff.svg"></i>&nbsp;Going to a runoff election</li>
        <li class="yes"><i></i>&nbsp;Yes / <span class="winner">Winner</span></li>
        <li class="no"><i></i>&nbsp;No / <span class="winner">Winner</span></li>
        <li class="precincts"><i>76<span>% in</span></i>&nbsp;Precincts reporting</li>
        <li class="time"><i>7:00 p.m. ET</i>&nbsp;Last poll closing</li>
    </ul>
</div>
