<footer id="npr-elections-footer" class="npr-footer hidden">
    <p class="copyright"><span class="copy-year">&copy; 2020 npr</span></p>
    <ul>
        <li><a href="https://help.npr.org/">Help</a></li>
        <li id="footerContact"><a href="https://www.npr.org/contact">Contact</a></li>
        <li><a href="https://www.npr.org/about-npr/179876898/terms-of-use">Terms of Use</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy">Privacy</a></li>
    </ul>
</footer>

