<!-- Hide the navbar by default, for station sites -->
<!-- See information in the `navbar.js` file on why this is done -->
<% 
var { nav, states } = grunt.data.json;
%>

<nav class="results-nav">

  <div class="constrained">

    <div class="results-logo">
      <img src="./assets/logo.svg" alt="NPR" />
      <hr aria-hidden="true" />
      <img src="./assets/logo-2020-election.svg" class="full" alt="2020 Elections" />
      <img src="./assets/logo-2020-e.svg" class="short" alt="2020 Elections" />
    </div>

    <button class="menu-toggle" aria-controls="main-menu">More live results</button>

    <ul class="menu-contents" id="main-menu">

      <li> <a href="#">Live Coverage</a> </li>
      <li> <a href="#/president">President</a> </li>
      <li> <a href="#/house">House</a> </li>
      <li> <a href="#/senate">Senate</a> </li>
      <li> <a href="#/governor">Governor</a> </li>
      <li> <a href="#/ballots">Ballot</a> </li>

      <li class="state-nav">
        <button class="menu-toggle" aria-controls="states-menu">State results</button>

        <ul class="states menu-contents" id="states-menu">
          <% for (var state of Object.keys(states)) {%>
          <% if (state.district) continue; %>
          <li>
            <a href="#/states/<%= state %>"><%= states[state].name %></a>
          </li>
          <%}%>
        </ul>
      </li>

    </ul>

    <div class="donate">
      <a href="https://www.npr.org/donations/support">
        Donate
      </a>
    </div>

  </div>
</nav>
