.board.hidden {
  display: none;
}

.board .results-wrapper {
  padding: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  table.races {
    font-weight: 400;
    color: @gray;
    border-collapse: separate;
    font-size: 1rem;

    th {
      font-weight: normal;
    }
  }

  .results {
    font-size: 0.9rem;
    height: 100%;
    overflow: hidden;

    .column {
      box-sizing: border-box;

      // stack on small screens,
      // side-by-side on larger screens
      .big-board& {
        padding: 0 1%;
        float: left;
        width: 50%;

        &.first {
          padding-left: 0;
        }
        &.last {
          padding-right: 0;
        }

        @media @mobile {
          &.last {
            margin-top: -0.4rem;
          }
        }
      }
    }

    &.dupe-second-column-header {
      .last .bucketed-group:first-child {
        display: none;

        &:after {
          content: " (continued)";
        }

        .big-board& {
          @media @mobile {
            display: block;
          }
        }
      }
    }

    .bucketed-group {
      font: normal 0.9rem/1.2 @knockout;
      letter-spacing: 0.05em;
      color: @gray-light;
      padding-bottom: 3px;
      border-bottom: 2px solid @gray-light;
    }

    .races {
      border-spacing: 0 0.2rem;
      width: 100%;

      @media @mobile {
        table-layout: fixed;
      }

      td {
        box-sizing: content-box;
        line-height: 1.1;
        padding: 0.2rem 0.4rem;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }

        &:nth-child(3) {
          border-radius: 0.3rem 0 0 0.3rem;
        }
        &:nth-child(4) {
          border-radius: 0 0.3rem 0.3rem 0;
        }
        &:nth-child(6) {
          border-radius: 0.3rem 0 0 0.3rem;
        }
        &:nth-child(7) {
          border-radius: 0 0.3rem 0.3rem 0;
        }
      }

      tr {
        // needed for terrible table layout hack
        // https://css-tricks.com/fixing-tables-long-strings/
        &.structure {
          visibility: collapse;

          th {
            height: 0;
            padding: 0;

            &.results-status::after {
              content: none;
            }
          }
        }

        .results-status {
          color: #ccc;
          width: 10%;
          white-space: nowrap;
          text-align: center;

          @media @mobile {
            font-size: 90%;
            width: 10%;
          }

          &:after {
            content: "% in";
            font-size: 70%;
            vertical-align: top;

            @media @mobile {
              content: "%";
            }
          }
        }

        &.reporting .results-status,
        &.called .results-status {
          color: @gray-light;
        }

        .pickup {
          vertical-align: middle;
          width: 5%;
          min-width: 15px;

          @media @mobile {
            padding-right: 0;
            width: 15px;
          }

          img {
            width: 1em;
            vertical-align: middle;
            height: auto;
          }
        }

        &.party-change .pickup {
          &.dem {
            color: @dem;
          }
          &.gop {
            color: @gop;
          }
          &.ind {
            color: @ind;
          }

          &:after {
            font-weight: 500;
            content: "+1";
            font-style: italic;
            font-size: 75%;
          }
        }

        .state {
          color: @gray;
          text-align: center;
          white-space: nowrap;
          width: 11%;
          min-width: 35px;

          &.dem {
            color: @dem;
          }
          &.gop {
            color: @gop;
          }
          &.ind,
          &.other {
            color: @ind;
          }
        }

        .description {
          width: 48%;
        }

        .choice {
          width: 10%;

          &.no {
            background: @gopDim;
          }
          &.yes {
            background: @indDim;
          }
        }

        .candidate {
          font-size: 90%;
          overflow-x: hidden;
          padding-right: 0;
          width: 31%;

          &.uncontested {
            width: 100%;
          }
          &.dem {
            background: @demDim;
          }
          &.gop,
          &.no {
            background: @gopDim;
          }
          &.other,
          &.yes {
            background: @indDim;
          }

          &.dem.winner {
            background: @dem;
            color: white;
          }
          &.gop.winner,
          &.no.winner {
            background: @gop;
            color: white;
          }
          &.other.winner,
          &.yes.winner {
            background: @ind;
            color: white;
          }

          &.uncontested {
            color: @gray-light;
            font-style: italic;
          }

          .party {
            font-size: 75%;
            font-weight: normal;
            letter-spacing: 0.05rem;
            margin-left: 0.25rem;
          }

          &.incumbent {
            .lname {
              font-size: 95%;
              letter-spacing: 0rem;
              text-transform: uppercase;

              &:after {
                content: "*";
              }
            }
          }

          @media @mobile {
            .fname {
              display: none;
            }
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 28%;

            &:first-child {
              padding-right: 0;
            }
            &:last-child {
              padding-left: 0;
            }
          }
        }

        .candidate-total {
          width: 25px;
          text-align: right;
          background: transparent;
          position: relative;

          &.dem {
            background: @demDim;
          }
          &.gop,
          &.no {
            background: @gopDim;
          }
          &.other,
          &.yes {
            background: @indDim;
          }

          &.dem.winner {
            background: @dem;
            color: white;
          }
          &.gop.winner,
          &.no.winner {
            background: @gop;
            color: white;
          }
          &.other.winner,
          &.yes.winner {
            background: @ind;
            color: white;
          }
        }

        &.reporting:not(.uncontested) .candidate-total {
          &:after {
            content: "%";
            font-size: 80%;
            vertical-align: top;

            @media @mobile {
              font-size: 50%;
            }
          }
        }

        .candidate-total-spacer + .candidate-total {
          text-align: left;
        }

        .candidate-total-spacer {
          padding: 0;
          width: 1%;
        }

        // highlight on update
        &.reporting:not(.called) {
          td {
            transition: color 2s ease, background 2s ease;
          }

          &.updated {
            text-shadow: 1px 1px 5px #fff;

            .candidate.lighten,
            .candidate-total.lighten,
            .results-status,
            .state {
              color: @gray-dark !important;
            }

            .candidate.lighten,
            .candidate-total.lighten {
              &.dem {
                background: @demDim3;
              }
              &.gop {
                background: @gopDim3;
              }
              &.other {
                background: @indDim3;
              }
              &.yes {
                background: @indDim3;
              }
              &.no {
                background: @gopDim3;
              }
            }
          }
        }
      }
    }
  }
}

// board-specific styles
.board.ballot-measures .results .races tr {
  .pickup {
    display: none;
  }
  .state {
    width: 46%;
    text-align: left;
    padding-left: 0;
    white-space: normal;
  }
  .candidate {
    width: 14%;

    .fname {
      display: none;
    }
    &:nth-child(4) {
      padding-right: 0;
    }
    &:nth-child(8) {
      padding-left: 0;
    }
  }
}

.board.house .results .races {
  .state {
    width: 15%;
  }
}

/* RESULTS HEADER AND LEADERBOARD */
.board .results-wrapper .results-header {
  font-size: 1.1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font: 700 2.6rem @gotham;
    text-transform: uppercase;
    color: @gray-darker;

    @media @mobile {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: normal;
    color: @gray-medium;
    font-size: 1.3rem;
    font-family: @gotham;
    margin-bottom: 0.5rem;
  }
}

.leaderboard {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;

  @media @mobile {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    max-width: 300px;
    width: 49%;
  }

  .ballot &,
  .governor & {
    display: none;
  }

  &.senate,
  &.house {
    width: 50%;
    max-width: 500px;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-bottom: .75rem;
  }

  .change {
    padding-left: 5px;
  }

  .results-header-group {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 20%;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &.hidden {
      display: none;
    }
  }

  .dem .party {
    color: @dem;
  }
  .gop .party {
    color: @gop;
  }
  .other .party {
    color: @ind;
  }
  .net .party {
    color: @gray;
  }
  .not-called .party {
    color: @gray-light;
  }

  .dem .party,
  .gop .party {
    .icon.icon-ok {
      color: @gray-dark;
    }
  }

  h2 {
    font-weight: normal;
    line-height: 1;

    label {
      display: block;
      font-family: @knockout;
      font-size: 1.1rem;
      margin-bottom: 0.3rem;

      &.hidden {
        display: none;
      }
    }
    abbr {
      -webkit-font-smoothing: antialiased;
      display: block;
      font-family: @gotham;
      font-weight: 700;
      font-size: 100%;
      padding-bottom: 5px;
    }
  }

  .net-gain {
    border-right: 1px solid @gray-lighter;
    padding-right: 10px;

    h2 {
      color: #666;

      abbr {
        background-color: #ccc;
        font-size: 0.9rem;
        padding: 0.65rem 0;
        text-decoration: none;
        white-space: nowrap;
      }

      label {
        margin-bottom: 0.2rem;
        // text-transform: uppercase;
      }

      &.party.dem abbr {
        background-color: @dem;
        color: #fff;
      }

      &.party.gop abbr {
        background-color: @gop;
        color: #fff;
      }
    }
  }

  .leaderboard-detail {
    color: @gray-medium;
    font-family: @sans;
    font-size: 1rem;
    line-height: 1.2;
    padding-top: 9px;
    text-align: left;
    width: 100%;

    span {
      font-weight: bold;
    }

    .dem {
      color: @dem;
    }
    .gop {
      color: @gop;
    }
  }
}

/*
 * FOOTER / CREDIT
 */
.board .footer {
  margin: 22px auto 0 auto;

  p {
    margin: 2px 0 0 0;
    font-size: 12px;
    line-height: 1.7;
    color: #999;
    font-style: italic;

    em {
      font-style: normal;
    }
  }
}

#results-nav-wrapper {
  margin: 0 0 20px 0;
}

/* Hide elements from visual display, keep them present for screen readers */
.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.results-table {
  display: block;
  @mug-size: 4em;
  @flourish-margin: .6em;
  @bar-height: .6em;
  .gotham();
  font-size: var(--font-size);
  position: relative;

  &[party="Dem"] {
    --accent: var(--dem);
    --accent-fade: var(--dem-fade);
  }

  &[party="GOP"] {
    --accent: var(--gop);
    --accent-fade: var(--gop-fade);
  }

  & + president-results {
    margin-top: 1em;
  }

  &[test]::before {
    display: block;
    padding: 8px 16px;
    margin-bottom: 8px;
    text-align: center;
    .knockout();
    background: black;
    color: white;
    border-radius: 20px;
    content: "TEST DATA";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
    z-index: 9999;
  }

  a {
    color: var(--foreground);
  }

  .results-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;

    @media @mobile {
       display: block;
    }

    h3 {
      margin: 0;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .reporting {
      color: var(--secondary);
      font-family: @sans;
      font-size: 0.85em;
    }
  }

  .board {
    border-collapse: collapse;
    display: block;
    font-size: 0.85em;

    .tbody, .thead {
      display: block;
      columns: 2;

      @media @tablet {
        columns: 1;
      }
    }

    &.uncontested .thead .duplicate {
      display: none;
    }

    .thead {
      .knockout-header();
      color: var(--secondary);

      .sde {
        margin-right: -.5em;
      }
    }

    .thead .tr.duplicate {
      @media @tablet {
        display: none;
      }
    }

    .row-wrapper {
      display: inline-block;
      width: 100%;
      margin-bottom: 4px;

      &.column-fixer {
        display: block;
        margin-bottom: 0;
      }
    }

    .tr {
      position: relative;
      flex: 0 0 100%;
      display: flex;
    }

    .thead .tr {
      margin-bottom: 6px;
    }

    .th, .td {
      text-align: right;
      flex: 0 0 4em;

      &:last-child {
        padding-right: 8px;
      }

      &.votes {
        flex: 0 0 7em;
      }
    }

    .tbody {
      .tr {
        border-radius: @mug-size 0 0 @mug-size;
        background: var(--shaded);

        &.winner { background: var(--accent-fade); }
      }

      .td {
        padding-top: @bar-height * 2.4;
      }
    }

    .td.flourishes {
      padding: 0;
      padding-right: @flourish-margin;
      z-index: 999;
      flex: 0;

      .mugshot {
        width: @mug-size;
        height: @mug-size;
        display: block;
        border-radius: 100%;
        background: var(--shaded);
        border: 1px solid var(--outline);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &.noimg {
          border: transparent;
        }
      }

      .bar-container {
        position: absolute;
        top: 0;
        left: @mug-size + @flourish-margin;
        right: 0;
      }

      .bar {
        height: @bar-height;
        background: var(--accent);
      }
    }

    .name {
      flex: 1;
      text-align: left;

      @media @desktop {
        .first { display: none; }
      }
      @media @tablet {
        .first { display: inline; }
      }
      @media @mobile {
        .first { display: inline; }
      }
      @media @tiny {
        .first { display: none; }
      }

      .winner-icon {
        width: 1em;
        height: 1em;
        display: none;
        margin-left: 4px;
      }

      .incumbent-icon {
        display: none;
      }
    }

    .winner .name {
      font-weight: bold;

      .winner-icon {
        display: inline-block;
      }
    }

    .incumbent .incumbent-icon {
      display: inline-block;
    }

    .uncontested.votes {
      font-style: italic;
    }

  }

  .metadata-row {
    margin-top: 6px;

    .text {
      font-family: @sans;
      font-size: 0.85em;
      font-style: italic;
      color: var(--secondary);
      margin-top: 15px;

      @media @mobile {
        display: block;
        margin-top: 11px;
      }

      a {
        color: var(--link);

        &:hover, &:active { opacity: 0.7; }
      }
    }

    .incumbent-icon {
      font-style: normal;
    }
  }

  .show-more {
    background: transparent;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    .knockout-header();
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.01em;
    color: var(--link);
    padding: 0;
    white-space: nowrap;
    display: none;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &::after {
      content: " ▲"
    }
  }

  &[expanded] {

  }

  &[overflow] {
    .show-more {
      display: block;
    }

    &[expanded] {
      .show-more .more {
        display: none;
      }
    }

    &:not([expanded]) {
      .show-more {
        .fewer {
          display: none;
        }

        &::after {
          content: " ▼";
        }
      }

      .foldable {
        display: none !important;
      }

      @media @mobile {
        .shown:nth-child(n + 10) {
          display: none !important;
        }
      }
    }
  }

  .full-results {
    display: none;
    color: var(--link);
    .knockout-header();
    text-decoration: none;

    &:hover, &:active {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &[href] {
    .full-results {
      display: inline-block;
    }

    .show-more {
      display: none;
    }
  }
}
