h1 {
  font-size: 24px;
}

#nav-list {
  width: 100%;

  tr:nth-child(even) {
    background-color: #f1f1f1;
  }

  th,
  td {
    border-bottom: 1px solid #eee;
    padding: 5px;
    text-align: left;
  }

  textarea {
    height: 80px;
    width: 80%;
  }

  .state {
    width: 100px;
  }
}
