@import "values";
@sidebar: ~"(max-width: 300px)";

h1 {
  font-size: 24px;
}

#nav-list {
  width: 100%;

  tr:nth-child(even) {
    background-color: #f1f1f1;
  }

  th,
  td {
    border-bottom: 1px solid #eee;
    padding: 5px;
    text-align: left;
  }

  textarea {
    height: 80px;
    width: 80%;
  }

  .state {
    width: 100px;
  }
}

// Balance of power embed

@height: 20px;
@thin-height: @height * 0.7;

main.embed-bop {
  color: #444;
  // background: black;

  .inline {
    .container {
      display: flex;
      max-width: 100%;

      @media @mobile {
        display: block;
      }
    }

    .link-container {
      flex: 1;
      padding: 0 3%;
      border-right: 1px solid #ddd;

      h3 {
        margin-top: 10px;
      }

      @media @mobile {
        border: none;
        padding: 0;

        &.senate, &.house {
          width: 46%;
          display: inline-block;
        }
        &.senate {
          float: right;
        }

        &.president {
          .bar-container {
            height: @thin-height;
          }
          .middle {
            top: @thin-height / -5;
            height: @thin-height * 1.4;
          }
          h3 {
            margin-top: 0;
          }
        }

        .label {
          display: block;
        }
        &.senate, &.house {
          .number-container {
            display: none;
          }
        }
      }

      &:last-child {
        border-right: 0;
      }
    }

    .candidate {
      border: 0;
    }

    .source {
      margin-top: 20px;

      @media @mobile {
        margin-top: 35px;
      }
    }
  }

  .dark {
    h3 {
      color: #ccc;
    }
    .bar-container .middle {
      border-left: 1px solid #ccc;
    }
    .chatter, .uncalled, .source {
      color: #aaa;
    }
    .bar-container {
      background: #333;
    }
    .divider {
      border-top: 1px solid #333;
    }
  }

  .dark.inline {
    .link-container {
      border-right: 1px solid #333;

      &:last-child {
        border-right: none;
      }

      @media @mobile {
        border: none;
      }
    }
  }

  .president h3 {
    margin-top: 0;
  }

  h3 {
    .gotham();
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }

  .chatter {
    text-align: center;
    font-size: 12px;
    .gotham();
    margin-bottom: 10px;
    color: #666;
  }

  .winner-icon {
    color: #444;
    width: 0.8em;
    display: inline-block;
    margin-left: 0;
  }

  a.link-container {
    text-decoration: none;
    color: #444;

    &:hover {
      h3 {
        color: @link-color;
      }
    }
  }

  .full {
    .knockout-header();
    font-size: 11px;
  }

  .number-container {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .candidate {
      flex: 1;
      text-align: center;
      // border-left: 1px solid #eee;
      max-width: 150px;
      // padding: 0 10px;
      color: #666;
      display: flex; 
      flex-direction: column; 
      justify-content: flex-end;

      // &:first-child {
      //   border-left: 0;
      // }

      // &.dem {
      //   text-align: left;
      // }
      // &.gop {
      //   text-align: right;
      // }

      .name {
        .knockout-header();
        line-height: 1.2em;
        text-transform: uppercase;

        @media @sidebar {
          font-size: 12px;
        }
      }
      .votes {
        .gotham();
        font-size: 30px;
        font-weight: bold;
        // color: #666;
      }
    }

    .dem {
      color: @dem;
      path { fill: @dem; }
    }
    .gop {
      color: @gop;
      path { fill: @gop; }
    }
    .other {
      color: @ind;
      path { fill: @ind; }
    }
    // .uncalled {
    //   @media @sidebar {
    //     display: none;
    //   }
    // }
  }

  // .president {
  //   .bar-container {
  //     height: @thin-height;
  //     margin-bottom: 20px;

  //     .middle {
  //       top: @thin-height / -5;
  //       border-left: 1px solid #444;
  //       height: @thin-height * 1.4;
  //     }
  //   }
  // }

  .bar-container {
    width: 100%;
    height: @height;
    background: #ddd;
    margin-bottom: 15px;
    position: relative;

    .bar {
      height: 100%;
      display: inline-block;

      &.dem {
        background: @dem;
        path { fill: @dem; }
      }
      &.gop {
        background: @gop;
        float: right;
        path { fill: @gop; }
      }
      &.other {
        background: @ind;
        path { fill: @ind; }
      }
    }

    .label {
      display: none;
      position: absolute;
      margin-top: calc(@height + 5px);
      .gotham();
      font-weight: bold;
      font-size: 12px;

      span.number {
        color: #9a9a9a;
        font-weight: normal;
        font-size: 0.9em;
        display: block;
      }
    }

    .dem .label {
      color: @dem;
    }
    .gop .label {
      color: @gop;
      right: 0;
      text-align: right;
    }
    .other .label {
      color: @ind;
    }

    .middle {
      position: absolute;
      top: @height / -5;
      border-left: 1px solid #444;
      height: @height * 1.4;
      width: 1px;
      right: 50%;
    }
  }

  .divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;

    @media @mobile {
      margin: 15px 0 10px;
    }
  }

  .source {
    @media @mobile {
      margin-top: 10px;
    }
  }
}
