nav.results-nav {
  display: flex;
  font-size: 12px;
  align-items: center;
  z-index: 999;
  position: relative;
  flex-wrap: wrap;

  @media @mobile {
    justify-content: space-between;
  }

  ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;

    @media @mobile {
      flex: 0 0 100%;
    }
  }

  li {
    display: block;
    overflow: hidden;
  }

  button, a {
    display: block;
    border: none;
    border-bottom: 3px solid transparent;
    background: transparent;
    color: inherit;
    font-family: inherit;
    padding: 4px 0;
    margin-bottom: 2px;
    text-align: left;

    &:hover, &:focus {
      border-bottom-color: @true;
      outline: none;
    }
  }

  .menu-toggle::after {
    content: ">";
    margin-left: 4px;
  }

  // specific styles
  .menu-toggle[aria-controls="main-menu"] {
    display: none;

    @media @mobile {
      display: block;
    }
  }

  .menu-toggle[aria-controls="states-menu"] {
    width: 100%;
  }

  ul#main-menu {
    display: flex;
    align-items: center;

    & > li {
      padding: 8px;
    }

    @media @mobile {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  // toggle menus
  .menu-contents {
    display: none;
    padding: 8px;

    &.show {
      display: block;
    }

    &.states {
      position: absolute;
      columns: 3;
      background: white;
      box-shadow: 0 8px 12px fade(black, 20%);

      li {
        border-top: none;
      }

      @media @mobile {
        position: static;
      }
    }
  }

}