@import "base";

.constrained {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

h1:focus,
h2:focus {
  outline: 0;
}

.alert {
  .gotham();
  b {
    color: @rigorous;
  }
}

@import "navbar";
@import "about-box";
@import "ads";
@import "footer";
