/*
 * Media queries
 */
@tiny: ~"(max-width: 400px)";
@tiny-above: ~"(min-width: 401px)";
@mobile: ~"(max-width: 650px)";
@mobile-above: ~"(min-width: 651px)";
@tablet: ~"(max-width: 768px)";
@tablet-above: ~"(min-width: 769px)";
@desktop: ~"(max-width: 875px)";
@wide: ~"(max-width: 950px)";
@full: ~"(max-width: 1175px)";

/*
 * Fonts
 */
@gotham: 'Gotham SSm', Helvetica, Arial, sans-serif;
@knockout: 'Knockout 31 4r','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@serif: Georgia, "Times New Roman", Times, serif;

.gotham() {
  font-family: @gotham;
  font-weight: normal;
  font-weight: 400;
}

// Normal Knockout
.knockout() {
  font-family: @knockout;
  font-weight: normal;
}

// Knockout, uppercased
.knockout-upper() {
  .knockout();
  text-transform: uppercase;
}

// Knockout for headings
.knockout-header() {
  .knockout-upper();
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
}

/*
 * Colors
 */
@accent-dark: #4774CC;
@accent-light: #bccae5;

@rigorous: #d62021;
@unbiased: #000005;
@true: #237bbd;

.sr-only {
  opacity: 0;
  position: absolute;
  left: -1000px;
  clip: inset(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}

// Primary colors
// -------------------------
@gop:                     #D61F21;
@gopDim:                  fade(@gop, 20%);
@gopDim2:                 fade(@gop, 50%);
@gopDim3:                 lighten(@gopDim, 30%);

@dem:                     #237BBD;
@demDim:                  fade(@dem, 20%);
@demDim2:                 fade(@dem, 50%);
@demDim3:                 lighten(@demDim, 30%);

@ind:                     #15B16E;
@indDim:                  fade(@ind, 20%);
@indDim2:                 fade(@ind, 30%);
@indDim3:                 lighten(@indDim, 30%);

@winnerCheck:             #f19e14;
@yellow:                  @ind;

@demSafe:                 #3D7FA6;
@demLean:                 #7DBFE6;
@gopLean:                 #ECA395;
@gopSafe:                 #A23520;

@updateHighlight:         fade(@yellow, 80%);

// Grays
// -------------------------
@gray-darker:             lighten(#000, 13.5%); // #222
@gray-dark:               lighten(#000, 20%);   // #333
@gray:                    #666;
@gray-medium:             #A0A0A0;
@gray-light:              lighten(#000, 60%);   // #999
@gray-lighter:            lighten(#000, 93.5%); // #eee
@white:                   #fff;

// Links
// -------------------------
@link-color:              #5076b8;
@link-hover-color:        #bccae5;
@link-hp-color:           #444;

// TODO: should these live here?
:root {
  --foreground: #333;
  --secondary: #787878;
  --background: white;
  --shaded: #efefef;
  --outline: var(--background);
  --accent: var(--secondary);
  --accent-fade: fade(#888, 30%);
  --dem: @true;
  --gop: @rigorous;
  --ind: green;
  --dem-fade: fade(@true, 30%);
  --gop-fade: fade(@rigorous, 30%);
  --ind-fade: rgba(21,177,110,0.2);
  --link: @true;
  --link-secondary: var(--foreground);
  --font-size: 14px;
  --side-margin: 15px;
  --divider: #999;
  --divider-minor: #dadada;
  --background-faded: rgba(255, 255, 255, 0);

  @media @mobile-above {
    --side-margin: 20px;
  }
}