@import "values";

.state-results {
  display: flex;
  padding-bottom: 15px;

  [tabindex="-1"]:focus {
    outline: none;
  }

  .content {
    flex: 1;
  }

  aside.sidebar {
    flex: 0 0 300px;
    padding-left: 16px;
    display: none;

    @media only screen and (min-width: 1025px) {
      display: block;
    }
  }

  // header
  #state-header {
    margin: 0 0 15px 0;
    overflow: hidden;

    .sorter {
      font-family: @gotham;
      font-size: 12px;
      list-style-type: none;
      margin-bottom: 5px;
      padding: 0;

      // @media screen and (max-width: @screen-xs) { text-align: center; }

      > li {
        color: @gray-medium;
        white-space: nowrap;
        line-height: 25px;
        display: inline-block;
        margin: 0 2px 0 0;

        &.label {
          display: block;
          font-size: 11px;
          font-family: @knockout;
          font-weight: normal;
          text-transform: uppercase;
          padding-top: 0;
          line-height: 1.2;
          letter-spacing: 0.05em;
          -webkit-font-smoothing: antialiased;
          margin-bottom: 6px;
        }

        &:last-of-type > span:last-of-type {
          display: none;
        }

        &.sortButton {
          padding-right: 5px;
          padding-bottom: 3px;
          font-weight: bold;
          line-height: 1.5em;
          font-size: 13px;

          .metric {
            color: @link-color;

            a {
              text-decoration: none;
            }
            
            &:hover {
              color: @link-hover-color;
              cursor: pointer;
            }
          }
          .pipe {
            color: @gray-medium;
          }

          &.selected {
            .metric > a {
              color: @gray-dark;
              font-weight: bold;

              &:hover {
                color: @gray-dark;
              }
            }
          }

          &:nth-child(2) .metric {
            padding-left: 0;
          }
        }
      }
    }

    h1 {
      .state-name {
        display: block;
        font-size: 40%;
        font-weight: normal;
        margin-bottom: 1px;
        padding-top: 3px;
      }
    }

    .state-icon {
      font-size: 80px;
      float: left;
      line-height: 0.9;
      color: @gray-light;

      i.stateface {
        font-style: normal;
        display: inline-block;
        margin-right: 5px;
      }
    }

    .switcher {
      clear: both;
      color: @gray;
      font-family: @gotham;
      font-size: 12px;
      margin: 4px 0 0 0;
      -webkit-font-smoothing: antialiased;

      &.hidden {
        display: none;
      }

      span {
        color: @link-color;
        padding: 0 11px;

        &:hover {
          color: @link-hover-color;
          cursor: pointer;
        }
      }

      [aria-current="true"] {
        &:hover {
          color: @gray;
        }
      }
    }
  }

  .jump-links {
    .gotham();
    font-size: 13px;
    padding: 12px 0;

    a {
      display: inline-block;
      padding: 0 4px;
      cursor: pointer;
    }
  }

  h3 {
    color: @gray-dark;
    font-family: @gotham;
    font-size: 16px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;

    &.hidden {
      display: none;
    }
  }

  h2 {
    font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0 0 22px 0;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    padding-bottom: 8px;
    font-size: 1.1em;

    &.hidden {
      display: none;
    }
  }

  .results-elements {
    h3 { margin-top: 45px; }

    .results-counties h3 {
      margin-top: 0px;
    }
  }

  // general results view / key races styles
  #state-results .results-elements {
    a {
      color: @link-color;
      display: inline-block;
      font-family: @gotham;
      font-size: 12px;
      font-weight: normal;
      padding: 0;
      margin: 0 0 0 6px;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;

      &:hover {
        color: @link-hover-color;
        cursor: pointer;
      }
    }

    p {
      font-size: 12px;
      line-height: 1.6;
      margin-bottom: 22px;
      color: @gray;

      strong {
        color: @gray-darker;
      }

      .featured {
        background-color: #f1f1f1;
        padding: 4px 2px 4px 4px;
        color: @gray-dark;
        font-weight: bold;
        border-radius: 3px;
      }

      &.poll-closing {
        background-color: #f1f1f1;
        border-radius: 0.3rem;
        color: @gray;
        font-size: 13px;
        font-style: italic;
        margin: -11px 0 22px 0;
        padding: 5px 11px;
      }

      &.precincts {
        margin-top: 11px;
        margin-bottom: 0;
        color: @gray-light;
        font-size: 11px;
        font-style: italic;
      }
    }

    .state-briefing,
    .board {
      margin-bottom: 33px;
    }

    .state-briefing p {
      margin-bottom: 0;
    }
  }

  // county results tables
  .state-results .results-counties {
    border-top: 1px solid #eee;
    padding-top: 22px;

    &.hidden {
      display: none;
    }

    .sorter {
      font-family: @gotham;
      font-size: 12px;
      list-style-type: none;
      margin: 0 0 25px 0;
      padding: 0;

      // @media screen and (max-width: @screen-xs) { text-align: center; }

      > li {
        color: @gray-medium;
        white-space: nowrap;
        line-height: 25px;
        display: inline-block;
        margin: 0 2px 0 0;
        pointer-events: none;

        &.label {
          display: block;
          font-size: 11px;
          font-family: @knockout;
          font-weight: normal;
          text-transform: uppercase;
          padding-top: 0;
          line-height: 1.2;
          letter-spacing: 0.05em;
          -webkit-font-smoothing: antialiased;
          margin-bottom: 6px;
        }

        &.sortButton {
          .metric {
            color: @link-color;
            padding: 0 5px;

            &:hover {
              color: @link-hover-color;
              cursor: pointer;
            }
          }
          .pipe {
            color: @gray-medium;
          }

          &.selected {
            .metric {
              color: @gray-dark;
              font-weight: bold;

              &:hover {
                color: @gray-dark;
              }
            }
          }

          &:nth-child(2) .metric {
            padding-left: 0;
          }
        }
      }
    }

    .results-table {
      .leading {
        &.dem {
          background-color: @demDim;
        }
        &.gop {
          background-color: @gopDim;
        }
        &.ind {
          background-color: @indDim;
        }
      }
      .winner {
        color: #fff;

        &.dem {
          background-color: @dem;
        }
        &.gop {
          background-color: @gop;
        }
        &.ind {
          background-color: @ind;
        }
      }

      td {
        vertical-align: middle;
      }

      th,
      td {
        border-left: 1px solid #eee;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }

        &.county {
          border-left: none;
          text-align: left;
        }

        &.precincts {
          border-left: none;
          border-right: 1px solid #ccc;
          color: @gray-light;
          font-size: 10px;
          font-style: italic;
          text-align: right;
          white-space: nowrap;
          width: 10%;
        }

        &.vote,
        &.margin {
          width: 16%;
        }
        &.margin {
          &.dem {
            color: @dem;
          }
          &.gop {
            color: @gop;
          }
          &.ind {
            color: @ind;
          }
        }

        &.comparison {
          border-left: 1px solid #ccc;
          text-align: right;
        }
      }
    }
    &.past-results th.comparison,
    &.past-results td.comparison {
      text-align: center;
      &.dem {
        color: @dem;
      }
      &.gop {
        color: @gop;
      }
      &.ind {
        color: @ind;
      }
    }
  }

  // footer
  .footer {
    margin: 22px 0 0 0;
    padding-bottom: 10px;

    p {
      color: @gray-light;
      font-size: 12px;
      font-style: italic;
      line-height: 1.4;
      margin: 2px 0 0 0;

      em {
        font-style: normal;
      }
    }
  }

  h1 {
    img.icon {
      float: left;
      margin-right: 14px;
      max-width: 75px;
      height: 60px;
      opacity: 0.4;
      outline: none;
      margin-bottom: 30px;
    }
  }

  .select-label {
    .knockout();
    font-size: 0.8rem;
    margin-bottom: 8px;
    margin-right: 6px;
    display: inline-block;
    text-transform: uppercase;
  }

  .outer-mobile-calendar {
    padding: 6px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
  }

  .mobile-calendar {
    border: none;
    font-size: 14px;
    font-family: @gotham;
    background: transparent;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
