@import "../../../css/values";

.results-no-counties {
  .results-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  @media @mobile {
    .results-wrapper {
      display: block;
    }
  }

  .results-table.statewide {
    &.house, &.ballot {
      margin-top: 10px;
      @media @mobile {
        margin-top: 20px;
        padding-bottom: 15px;
      }
    }
  }
}

.results-table.statewide {
  display: block;
  @mug-size: 4em;
  @flourish-margin: 0.6em;
  @bar-height: 0.6em;
  .gotham();
  font-size: var(--font-size);
  position: relative;
  width: 100%;
  max-width: 650px;

  caption {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 1em;

    @media @mobile {
      width: 100%;
    }
    &:empty {
      display: none;
    }
  }

  &[test]::before {
    display: block;
    padding: 8px 16px;
    margin-bottom: 8px;
    text-align: center;
    .knockout();
    background: black;
    color: white;
    border-radius: 20px;
    content: "TEST DATA";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 9999;
  }

  a {
    color: var(--foreground);
  }

  .results-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5em;
    margin-top: 10px;

    @media @mobile {
      display: block;
    }

    h3 {
      margin: 0;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
    }

    span.state-label {
      display: none;
    }

    span.reporting {
      color: var(--secondary);
      font-family: @sans;
      font-size: 0.85em;
      text-align: right;
      font-style: italic;
    }
  }

  .board {
    border-collapse: collapse;
    display: block;
    font-size: 0.85em;

    .tbody,
    .thead {
      display: block;
      columns: 1;
    }

    &.uncontested .thead .duplicate {
      display: none;
    }

    .thead {
      .knockout-header();
      color: var(--secondary);

      .sde {
        margin-right: -0.5em;
      }
    }

    .thead .tr.duplicate {
      @media @tablet {
        display: none;
      }
    }

    .row-wrapper {
      display: inline-block;
      width: 100%;
      margin-bottom: 4px;

      &.column-fixer {
        display: block;
        margin-bottom: 0;
      }
    }

    .tr {
      position: relative;
      flex: 0 0 100%;
      display: flex;
    }

    .thead .tr {
      margin-bottom: 6px;
    }

    .th,
    .td {
      text-align: right;
      flex: 0 0 4em;

      &:last-child {
        padding-right: 8px;
      }

      &.votes {
        flex: 0 0 7em;
      }
    }

    .tbody {
      .tr {
        border-radius: @mug-size 0 0 @mug-size;
        background: var(--shaded);
        // height: 4em;

        .bar {
          background: @ind;
          height: @bar-height;
        }

        &.noimg {
          border-radius: 0;
        }

        &.winner {
          background: @indDim;

          .bar {
            background: @ind;
          }

          &.GOP,
          &.No {
            background: @gopDim;
          }

          &.Dem {
            background: @demDim;
          }

          &.Other {
            background: var(--accent-fade);
          }
        }

        &.GOP,
        &.No {
          .bar {
            background: @gop;
          }
        }

        &.Dem {
          .bar {
            background: @dem;
          }
        }

        &.Other {
          .bar {
            background: var(--accent);
          }
        }
      }

      .td {
        padding-top: @bar-height * 2.4;
        padding-bottom: @bar-height;
      }
    }

    .td.flourishes {
      padding: 0;
      padding-right: @flourish-margin;
      flex: 0;

      &.noimg {
        .bar-container {
          left: 0;
        }

        .mugshot.noimg {
          display: none;
        }
      }

      .mugshot {
        width: @mug-size;
        height: @mug-size;
        display: block;
        border-radius: 100%;
        background: var(--shaded);
        border: 1px solid var(--outline);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &.noimg {
          border: transparent;

          .bar-container {
            left: 0;
          }
        }
      }

      .bar-container {
        position: absolute;
        top: 0;
        left: @mug-size + @flourish-margin;
        right: 0;
      }
    }

    .name {
      flex: 1;
      text-align: left;

      @media @desktop {
        .first {
          display: none;
        }
      }
      @media @tablet {
        .first {
          display: inline;
        }
      }
      @media @mobile {
        .first {
          display: inline;
        }
      }
      @media @tiny {
        .first {
          display: none;
        }
      }

      .winner-icon {
        width: 1em;
        height: 1em;
        display: none;
        margin-left: 4px;
      }

      .incumbent-icon {
        display: none;
      }
    }

    .winner .name {
      font-weight: bold;

      .winner-icon {
        display: inline-block;
      }
    }

    span.runoff-text {
      font-style: italic;
      font-weight: normal;
      color: var(--foreground);
    }

    .incumbent .incumbent-icon {
      display: inline-block;
    }

    .uncontested.votes {
      font-style: italic;
    }
  }

  .metadata-row {
    margin-top: 6px;

    .text {
      font-family: @sans;
      font-size: 0.85em;
      font-style: italic;
      color: var(--secondary);
      margin-top: 15px;

      @media @mobile {
        display: block;
        margin-top: 11px;
      }

      a {
        color: var(--link);

        &:hover,
        &:active {
          opacity: 0.7;
        }
      }
    }

    .incumbent-icon {
      font-style: normal;
    }
  }

  .show-more {
    background: transparent;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    .knockout-header();
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.01em;
    color: var(--link);
    padding: 0;
    white-space: nowrap;
    display: none;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &::after {
      content: " ▲";
    }
  }

  &[expanded] {
  }

  &[overflow] {
    .show-more {
      display: block;
    }

    &[expanded] {
      .show-more .more {
        display: none;
      }
    }

    &:not([expanded]) {
      .show-more {
        .fewer {
          display: none;
        }

        &::after {
          content: " ▼";
        }
      }

      .foldable {
        display: none !important;
      }

      @media @mobile {
        .shown:nth-child(n + 10) {
          display: none !important;
        }
      }
    }
  }

  .full-results {
    display: none;
    color: var(--link);
    .knockout-header();
    text-decoration: none;

    &:hover,
    &:active {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &[href] {
    .full-results {
      display: inline-block;
    }

    .show-more {
      display: none;
    }
  }
}

.footnote {
  font-size: 11px;
  color: var(--secondary);
  margin-top: 5px;
  font-style: italic;
  display: flex;
  justify-content: space-between;

  .right {
    text-align: right;
  }
}

.embedded {
  .results-table.statewide {
    max-width: none;
  }
}
