@import "values";

.board.president {
  .tabs {
    display: flex;

    [role="tab"] {
      border-bottom: 2px solid transparent;

      &:focus {
        background: #E8E8E8;
        outline: none;
      }

      &[aria-selected="true"] {
        border-bottom-color: blue;
      }
    }
  }

  [role="tabpanel"] {
    display: none;

    &:focus {
      outline: none;
      border: none;
    }

    &.active {
      display: block;
    }
  }

  .tetris-container {
    display: flex;
    justify-content: space-around;

    .tetris {
      overflow: hidden;

      --primary: #007;
      --secondary: #00A;

      &.R {
        order: 2;
        --primary: #700;
        --secondary: #A00;
      }

      .a {
        fill: var(--primary);
      }

      .b {
        fill: var(--secondary);
      }
    }

    .uncalled {
      order: 1;
      flex: 0 1 300px;
      text-align: center;
      .knockout();

      b {
        text-transform: uppercase;
        margin-bottom: 4px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2px;
      }

      li {
        display: inline-block;
        padding: 4px;
        .knockout();
        background: #CCC;
      }
    }

    svg {
      display: block;
      width: 100%;

      text {
        .knockout();
      }

      .grid {
        stroke: #DDD;

        &.victory {
          stroke: black;
        }
      }
    }
  }
}