<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_webfonts.html") %>
    <base target="_blank">
    <%= t.include("partials/_head.html", grunt.data.json) %>
  </head>
  <body style="max-width:2000px">
    <%= t.include("partials/_navbar.html") %> 
    <div class="board big-board" data-json="house-national.json" data-title="House"></div>

    <script>
      window.copy = {
        content: <%= JSON.stringify(json.content) %>,
        bop: <%= JSON.stringify(json.bop) %>
      }
    </script>
    <script src="app.js" async></script>


    <%= t.include("partials/_board_key.html") %> 
    <%= t.include("partials/_footer.html") %>
  </body>
</html>
