<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <%= t.include("partials/_navbar.html") %> 

    <main class="app"></main>

    <script>
      window.copy = {
        content: <%= JSON.stringify(json.content) %>,
        bop: <%= JSON.stringify(json.bop) %>
      }
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_board_key.html") %> 
    <%= t.include("partials/_footer.html") %>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
